{% load static %}

<footer class="footer section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-media">
                    <li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="tf-ion-social-instagram"></i></a></li>
                    <li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="tf-ion-social-pinterest"></i></a></li>
                </ul>
                <p class="copyright-text">Copyright &copy;2023. <a href="#">Course Correct</a></p>
            </div>
        </div>
    </div>
</footer>