{% extends 'layouts/base_layout.html' %}

{% load static %}

{% block title %}
    {{ product.product_code }}
{% endblock %}

{% block content %}

    {% include 'partials/menu.html' %}

    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li class="active">Single Product</li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol class="product-pagination text-right">
                        <li><a href="{% url 'product' product.id|add:-1|default:1 %}"><i
                                class="tf-ion-ios-arrow-left"></i> Previous </a></li>
                        <li><a href="{% url 'product' product.id|add:1 %}">Next <i
                                class="tf-ion-ios-arrow-right"></i></a></li>
                    </ol>
                </div>
            </div>

            <div class="row mt-20">

                {% include 'partials/alerts.html' %}

                <div class="col-md-5">
                    <div class="single-product-slider">
                        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                            <div class='carousel-outer'>
                                <!-- me art lab slider -->
                                <div class='carousel-inner '>
                                    <div class='item active'>
                                        <img src='{{ product.product_image.url }}' alt=''/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="single-product-details">
                        <h2>{{ product.product_name }}</h2>
                        <h3>{{ product.product_code }}</h3>
                        <p class="product-price">${{ product.product_price }}</p>

                        <p class="product-description mt-20">
                            {{ product.product_description }}
                        </p>
                        <div class="product-category">
                            <span>Categories:</span>
                            <ul class="">
                                <li><a href="">{{ product.category }}</a></li>
                            </ul>
                        </div>
                        <div class="mt-20">
                            {% if user.is_authenticated %}
                                {#                                <a href="{% url 'confirmation' %}" class="btn btn-main btn-small btn-round"#}
                                {#                                   download="{{ product.product_pdf.url }}">Download</a>#}
                                <a href="{% url 'confirmation' %}" class="btn btn-main btn-small btn-round"
                                   onclick="downloadAndRedirect('{{ product.product_pdf.url }}')">Download</a>
                            {% else %}
                                <p>Please login to access downloads</p>
                            {% endif %}

                            {% if user.is_superuser %}
                                <a href="{% url 'product-update' product.id %}"
                                   class="btn btn-main btn-small btn-round">Update</a>
                                <a href="{% url 'product-delete' product.id %}"
                                   class="btn btn-main btn-small btn-round">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products related-products section">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h2>Related Products</h2>
                </div>
            </div>

            <div class="row">

                {% for item in related %}
                    {% if item.category == product.category %}
                        <div class="col-md-3">
                            <div class="product-item">
                                <a href="{% url 'product' item.id %}">
                                    <div class="product-thumb">
                                        {% if item.sale %}
                                            <span class="bage">Sale</span>
                                        {% endif %}

                                        <img class="img-responsive" src="{{ item.product_image.url }}"
                                             alt="product-img"/>

                                    </div>
                                    <div class="product-content">
                                        <h4><a href="{% url 'product' item.id %}">{{ item.product_name }}</a></h4>
                                        <p class="price">{{ item.product_code }}</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    </section>

    <script>
        function downloadAndRedirect(url) {
            // Initiate the download
            var link = document.createElement('a');
            link.href = url;
            link.download = 'file'; // You can set the desired file name here
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

            // Redirect the user
            window.location.href = '{% url "confirmation" %}';
        }
    </script>

{% endblock %}

