{% extends 'layouts/base_layout.html' %}

{% load static %}

{% block title %}
    Shop
{% endblock %}

{% block content %}

    {% include 'partials/menu.html' %}

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">Shop</h1>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">shop</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget">
                        <h4 class="widget-title">Sort By Category</h4>
                        <form method="post" action="#">
                            <select class="form-control">
                                {#                                {% for product in products %}#}
                                {#                                    <option value="{{ product.product_category }}">#}
                                {#                                        {{ product.get_product_category_display }}#}
                                {#                                    </option>#}
                                {#                                {% endfor %}#}

                                {% for item in unique_category %}
                                    <option value="{{ item }}">
                                        {{ item }}
                                    </option>
                                {% endfor %}

                            </select>
                        </form>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">

                        {% for product in products %}

                            <div class="col-md-4">
                                <div class="product-item">
                                    <a href="{% url 'product' product.id %}">
                                        <div class="product-thumb">
                                            {% if product.sale %}
                                                <span class="bage">Sale</span>
                                            {% endif %}
                                            <img class="img-responsive"
                                                 src="{{ product.product_image.url }}"
                                                 alt="product-img"/>
                                        </div>
                                        <div class="product-content">
                                            <h4><a href="{% url 'product' product.id %}">{{ product.product_name }}</a>
                                            </h4>
                                            <p class="price">{{ product.product_code }}</p>
                                        </div>
                                    </a>

                                </div>
                            </div>

                        {% endfor %}

                    </div>
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if products.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ products.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1"
                                           aria-disabled="true">Previous</a>
                                    </li>
                                {% endif %}

                                {% if products.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}


